name: Build and test
on:
  pull_request:
    branches: [main]
  push:
    branches: [main]
jobs:
  build:
    name: ${{ matrix.name }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - { python: '3.10', tox: py310,  name: '3.10' }
          - { python: '3.11', tox: py311,  name: '3.11' }
          - { python: '3.12', tox: py312,  name: '3.12' }
          - { python: '3.12', tox: style,  name: 'Code style' }
          - { python: '3.12', tox: typing, name: 'Typing' }
    env:
      PYTHON_VERSION_COVERAGE: '3.12'
    steps:
      - name: Check out sources
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python }}

      - name: Install dependencies
        run: pip install --upgrade pip tox

      - name: Run tox
        run: tox -v -e ${{ matrix.tox }}

      - name: Upload coverage report to Codecov
        uses: codecov/codecov-action@v5
        if: ${{ env.PYTHON_VERSION_COVERAGE == matrix.name }}
        with:
          fail_ci_if_error: true
          flags: unittests
          token: ${{ secrets.CODECOV_TOKEN }}
          verbose: true

      - name: Upload coverage report to CodeClimate
        uses: paambaati/codeclimate-action@v9
        if: ${{ env.PYTHON_VERSION_COVERAGE == matrix.name }}
        env:
          CC_TEST_REPORTER_ID: c166698db1e0c43d70376173ccdb09b204f80a9cf0e9aa55ff387438e44a0b77
